<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http:/phonegap.com/ns/1.0"
        id="com.example.intent.test"
        version="1.0.0">

    <name>Intent Test</name>

    <description>
        Phonegap app to test web intents.
    </description>

    <author href="https://kmwenja.github.io" email="mwenja07@gmail.com">
        Kennedy Mwenja
    </author>

    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="true"/>
    <preference name="android-installLocation" value="auto"/>

    <platform name="android"></platform>

    <plugin spec="https://github.com/napolitano/cordova-plugin-intent.git"/>
</widget>
