<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http:/phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.example.intent.test"
        version="1.0.0">

    <name>Intent Test</name>

    <description>
        Phonegap app to test web intents.
    </description>

    <author href="https://kmwenja.github.io" email="mwenja07@gmail.com">
        Kennedy Mwenja
    </author>

    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="true"/>
    <preference name="android-installLocation" value="auto"/>

    <platform name="android"></platform>

    <config-file platform="android" parent="/manifest" mode="merge">
        <activity android:name="MainActivity" android:launchMode="singleTask"/>
    </config-file>

    <config-file platform="android" parent="/manifest/application/activity">
        <intent-filter android:label="@string/launcher_name">
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.SEND" />
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="*/*" />
        </intent-filter>
    </config-file>

    <plugin spec="https://github.com/kmwenja/cordova-plugin-intent.git"/>
</widget>
